<nav>
  <ul>
    <!-- <li><a [routerLink]="['/']">Home</a></li> -->
     <!-- <li><a [routerLink]="['/about']" title="About">About</a></li> -->
     <!-- <li><a [routerLink]="['/login']">Login</a></li> -->
     <li>
      <div *ngIf="!data.isloggedIn">
        <a [routerLink]="['/']">Home</a>
       </div>
     </li>
     <li>
      <div *ngIf="!data.isloggedIn">
        <a [routerLink]="['/login']" >Login</a>
       </div>
     </li>

     <!-- <li><a [routerLink]="['/contact']">Contact</a></li> -->
     <!-- <li><a [routerLink]="['/register']">Register</a></li> -->
     <li>
      <div *ngIf="!data.isloggedIn">
        <a [routerLink]="['/register']" *ngIf="!data.isloggedIn">Register</a>
       </div>
     </li>

     <!-- <li><a [routerLink]="['/logout']">Logout</a></li> -->

     <li>
       <div *ngIf="data.isloggedIn">
        <a  (click)="logout()" >Logout</a>
       </div>
      </li>
     </ul>
</nav>

