input[type="text"],
input[type="password"] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
body {
  // font-family: Arial, Helvetica, sans-serif;
  // font-size: 5px;
  font-family: Arial, Tahoma;
}
form {
  // border: 3px solid #f1f1f1;
}
label {
  font-size: 15px;
}
.container {
  padding: 16px;
  display: flex;
  justify-content: center;
  // font-family: Arial, Tahoma;
  // font-size: 10px;
}

.card {
  padding: 16px;
  width: 650px;
}

button {
  background-color: #79a0eb;
  color: white;
  padding: 10px 15px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-right: 10px;
  width: 20%;
}
button:hover {
  opacity: 0.8;
}

// button {
//   border: 5px;
//   outline: 5;
//   margin-right: 10px;
//   padding: 10px 20px;
// }
