<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
     <!-- This is an SEO Change For responsive site-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- This is an SEO Change that helps webpage to appear in search results-->
    <meta name=”robots” content="index, follow">
    <!-- This is an SEO Change open graph meta tags to promote-->
    <meta property="og:type" content="article" />
    <title>Login</title>
    <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>
<body>
<div class="container center">
  <div class="card center">
    <h2 class="card-header">Login Form</h2>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="col-3" for="username">Username </label>
                <input class="col-6" type="text" placeholder="Enter Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-3" for="password">Password </label>
                <input class="col-6" type="password" placeholder="Enter Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
              <div class="wrapper">
                <button  class="inline" class="btn btn-primary">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                  Login
              </button>

                <!-- <button class="inline" routerLink="../register" class="btn btn-primary">
                  Register
              </button> -->
              </div>

              <div *ngIf="notValid">Please enter valid credentials</div>
                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
            </div>
        </form>
    </div>
  </div>
</div>
</body>
</html>

